{{ define "main" }}
{{ $paper := .Params}}

<div class="row">
	<div class="col-md-12">
		<div class="media row">

			{{ if $paper.image }}
			<div class="col-md-3">
				<img class="pull-left pad-right media-object" src="/assets/images/papers/{{ $paper.image }}">
			</div>
			{{ end }}

			<div class="col-md-9 {{ if not $paper.image }} col-md-offset-3 {{end}}">
				<div class="media-body titlebox">
					<div class="title media-heading">
						{{ $paper.title }}
					</div>
					<p>
						<div class="smallhead">
							<p>{{ $paper.authors }}</p>
							{{ if and (isset $paper "peer_reviewed") (not $paper.peer_reviewed) }}
							<p>{{ $paper.preprint_journal }}</p>
							{{ else }}
							<p>{{ $paper.journal }} ({{ $paper.year }})</p>
							{{ end }}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

<div class="bigspacer"></div>

<div class="row">
	<div class="col-md-3 paper-list">
		<div class="bigspacer"></div>
		<div class="glyphbox note">

			{{ if and (isset $paper "peer_reviewed") (not $paper.peer_reviewed) }}
			<div class="smallhead">
			<i class="fa fa-external-link fa-fw"></i>
			<a class="off" target= "_blank" href="https://doi.org/{{ $paper.preprint_doi }}">Preprint</a>
			</div>
			<div class="bigspacer"></div>
			{{ end }}

			{{ if $paper.pdf }}
			<div class="smallhead">
			<i class="fa fa-file-text-o fa-fw"></i>
			<a class="off" href="/assets/papers/{{ $paper.pdf }}">Full text</a>
			</div>
			<div class="bigspacer"></div>
			{{ end }}

			{{ if $paper.supp }}
			<div class="smallhead">
			<i class="fa fa-file-o fa-fw"></i>
			{{ if hasPrefix $paper.supp "http" }}
			<a class="off" href="{{ $paper.supp }}">Supplement</a>
			{{ else }}
			<a class="off" href="/assets/papers/{{ $paper.supp }}">Supplement</a>
			{{ end }}
			</div>
			<div class="bigspacer"></div>
			{{ end }}

			{{ if $paper.results }}
			<div class="smallhead">
			<i class="fa fa-bar-chart-o fa-fw"></i>
			<a class="off" target= "_blank" href="{{ $paper.results }}">Reproducible results</a>
			</div>
			<div class="bigspacer"></div>
			{{ end }}

			{{ if $paper.software }}
			<div class="smallhead">
			<i class="fa fa-cogs fa-fw"></i>
			<a class="off" href="{{ $paper.software }}">Software</a>
			</div>
			<div class="bigspacer"></div>
			{{ end }}

			{{ if $paper.reviews }}
			<div class="smallhead">
			<i class="fa fa-comments-o fa-fw"></i>
			{{ if hasPrefix $paper.reviews "http" }}
			<a class="off" href="{{ $paper.reviews }}">Peer reviews</a>
			{{ else }}
			<a class="off" href="/assets/papers/{{ $paper.reviews }}">Peer reviews</a>
			{{ end }}
			</div>
			<div class="bigspacer"></div>
			{{ end }}

			{{ if $paper.doi }}
			<div class="smallhead">
			<i class="fa fa-external-link fa-fw"></i>
			<a class="off" target= "_blank" href="https://doi.org/{{ $paper.doi }}">Journal</a>
			</div>
			<div class="bigspacer"></div>
			{{ end }}

			{{ if $paper.pmid }}
			<div class="smallhead">
			<i class="fa fa-external-link fa-fw"></i>
			<a class="off" target= "_blank" href="https://pubmed.ncbi.nlm.nih.gov/{{ $paper.pmid }}">PubMed</a>
			</div>
			<div class="bigspacer"></div>
			{{ end }}

		</div>
	</div>
	<div class="col-md-8">
		<div class="post">
			{{ .Content }}
			<i>Where applicable, full text and supplement provided for <a href="https://www.copyright.gov/fair-use/more-info.html">fair use</a>.</i>
		</div>
	</div>
	<div class="col-md-1"></div>
</div>

{{ end }}