{{ define "main" }}
{{ $paper := .Params}}

<div class="row">
	<div class="col-md-12">
		<div class="media row">

			{{ if $paper.image }}
				<div class="col-md-3">
					<img class="pull-left pad-right media-object" src="/assets/images/papers/{{ $paper.image }}">
				</div>
			{{ end }}

			<div class="col-md-9 {{ if not $paper.image }} col-md-offset-3 {{end}}">
				<div class="media-body titlebox">
					<div class="title media-heading">
						{{ $paper.title }}
					</div>
					<p>
						<div class="smallhead">
							<p>{{ $paper.authors }}</p>
					<p>{{ $paper.journal }} ({{ $paper.year }})</p>
				</div>
			</div>
		</div>
	</div>
</div>
</div>

<div class="bigspacer"></div>

<div class="row">
	<div class="col-md-3 paper-list">
		<div class="bigspacer"></div>
		<div class="glyphbox note">

			{{ if $paper.pdf }}
			<div class="smallhead">
			<i class="fa fa-file-text-o fa-fw"></i>
			<a class="off" href="/assets/papers/{{ $paper.pdf }}">Full text</a>
			</div>
			<div class="bigspacer"></div>
			{{ end }}

			{{ if $paper.supp }}
			<div class="smallhead">
			<i class="fa fa-file-o fa-fw"></i>
			<a class="off" href="/assets/papers/{{ $paper.supp }}">Supplement</a>
			</div>
			<div class="bigspacer"></div>
			{{ end }}

			{{ if $paper.results }}
			<div class="smallhead">
			<i class="fa fa-bar-chart-o fa-fw"></i>
			<a class="off" href="{{ $paper.results }}">Reproducible results</a>
			</div>
			<div class="bigspacer"></div>
			{{ end }}

			{{ if $paper.software }}
			<div class="smallhead">
			<i class="fa fa-external-link fa-fw"></i>
			<a class="off" href="{{ $paper.software }}">Software</a>
			</div>
			<div class="bigspacer"></div>
			{{ end }}

			{{ if $paper.reviews }}
			<div class="smallhead">
			<i class="fa fa-comments-o fa-fw"></i>
			<a class="off" href="/assets/papers/{{ $paper.reviews }}">Peer reviews</a>
			</div>
			<div class="bigspacer"></div>
			{{ end }}

			{{ if $paper.doi }}
			<div class="smallhead">
			<i class="fa fa-external-link fa-fw"></i>
			<a class="off" href="https://dx.doi.org/{{ $paper.doi }}">Journal</a>
			</div>
			<div class="bigspacer"></div>
			{{ end }}

			{{ if $paper.pmid }}
			<div class="smallhead">
			<i class="fa fa-external-link fa-fw"></i>
			<a class="off" href="https://www.ncbi.nlm.nih.gov/pubmed/{{ $paper.pmid }}">PubMed</a>
			</div>
			<div class="bigspacer"></div>
			{{ end }}

		</div>
	</div>
	<div class="col-md-8">
		<div class="post">
			{{ .Content }}
		</div>
	</div>
	<div class="col-md-1"></div>
</div>

{{ end }}