{{ define "main" }}
{{ $software := .Params }}
<div class="blog-post">
	<div class="row">
		<div class="col-md-12">
			<div class="media">
				<div class="media-body">
					<div class="title media-heading">
						<h1>{{ .Params.title }}</h1>
					</div>
					<p>
					<div class="smallhead">
						{{if .Params.description }}
							<span class="off">{{ .Params.description }}</span>
						{{ end }}
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="bigspacer"></div>

	<div class="row">
		<div class="col-md-12">
			<div class="post">
				{{ .Content }}

				{{ $.Scratch.Add "papers_exist" "false" }}
				{{ range .Site.Pages }}
				{{ if in .Params.software_ids $software.software_id }}
				{{ $.Scratch.Set "papers_exist" "true" }}
				{{ end }}
				{{ end }}

				{{ $papers_exist :=  $.Scratch.Get "papers_exist" }}

				{{ if eq $papers_exist "true" }}
				<div class="bigspacer"></div>
				<div class="head">Papers</div>
				<div class="spacer"></div>
				{{ range .Site.Pages }}
				{{ if in .Params.software_ids $software.software_id }}
				<p><a href="{{ .Permalink }}" class="off">{{ .Title }}, {{ .Params.short_ref }}</a></p>
				{{ end }}
				{{ end }}
				{{ end }}
			</div>

		</div>
	</div>

	<div class="bigspacer"></div>
	<div class="spacer"></div>
</div>
{{ end }}